@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Mono", monospace;
  background-color: #18171f;
}

@media screen and (min-height: 728px) {
  .page-wrapper {
    height: 100vh;
  }
}
.page-wrapper {
  background-color: #18171f;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .generator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
.page-wrapper .generator-wrapper .generator-title {
  color: #817d92;
  margin-bottom: 1rem;
  font-weight: 500;
}
.page-wrapper .generator-wrapper .generator-header {
  background-color: #24232c;
  color: #ffffff;
  width: 100%;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.page-wrapper .generator-wrapper .generator-header .password-display {
  opacity: 0.4;
}
.page-wrapper .generator-wrapper .generator-header .copy-button {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #a4ffaf;
}
.page-wrapper .generator-wrapper .generator-header .copy-button:hover {
  color: #ffffff;
}
.page-wrapper .generator-wrapper .generator-header .copy-button:active {
  color: #e6e5ea;
}
.page-wrapper .generator-wrapper .generator-body {
  background-color: #24232c;
  width: 100%;
  padding: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-wrapper .generator-wrapper .generator-body .character-length-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-wrapper .generator-wrapper .generator-body .character-length-row .character-length {
  font-size: 1.5rem;
  color: #a4ffaf;
}
.page-wrapper .generator-wrapper .generator-body .character-range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #18171f;
  border-radius: 1rem;
  height: 10px;
  width: 100%;
}
.page-wrapper .generator-wrapper .generator-body .character-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e6e5ea;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.page-wrapper .generator-wrapper .generator-body .character-range::-webkit-slider-thumb:hover {
  background-color: #18171f;
  border: 3px solid #a4ffaf;
  border-radius: 50%;
  cursor: pointer;
}
.page-wrapper .generator-wrapper .generator-body .include-checkboxes {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-wrapper .generator-wrapper .generator-body .include-checkboxes .check-group input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  transition: 0.1s;
  cursor: pointer;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  background-color: #24232c;
}
.page-wrapper .generator-wrapper .generator-body .include-checkboxes .check-group input[type=checkbox]:hover {
  border-color: #a4ffaf;
}
.page-wrapper .generator-wrapper .generator-body .include-checkboxes .check-group input[type=checkbox]:checked {
  background-color: #a4ffaf;
  border: none;
  color: #24232c;
}
.page-wrapper .generator-wrapper .generator-body .strength-row {
  background-color: #18171f;
  margin-top: 1rem;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-wrapper .generator-wrapper .generator-body .strength-row p {
  color: #817d92;
  font-size: larger;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-level {
  font-size: 1.35rem;
  letter-spacing: 1px;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-bars {
  display: flex;
  gap: 7px;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-bars .bar {
  height: 25px;
  width: 10px;
  border: 1px solid white;
  background-color: #24232c;
  transition: 0.3s;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-bars .active-bar-red {
  background-color: #f64a4a;
  border: none;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-bars .active-bar-orange {
  background-color: #fb7c58;
  border: none;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-bars .active-bar-yellow {
  background-color: #f8cd65;
  border: none;
}
.page-wrapper .generator-wrapper .generator-body .strength-row .strength .strength-bars .active-bar-green {
  background-color: #a4ffaf;
  border: none;
}
.page-wrapper .generator-wrapper .generator-body .generate-button {
  padding: 1.25rem;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
  background-color: #a4ffaf;
  cursor: pointer;
}
.page-wrapper .generator-wrapper .generator-body .generate-button:hover {
  border: 1px solid #a4ffaf;
  background-color: #24232c;
  color: #a4ffaf;
}
.page-wrapper .generator-wrapper .generator-body .generate-button:active {
  border: 1px solid #a4ffaf;
  background-color: #18171f;
  color: #a4ffaf;
}
.page-wrapper .generator-wrapper .generator-body .generate-button .fa-arrow-right {
  margin-left: 1rem;
}/*# sourceMappingURL=style.css.map */